{"username"=>"guest", "virtual_host"=>"/", "exchange"=>{"name"=>"webhooks"}, "webhooks"=>[{"name"=>"webhook1", "url"=>"http://localhost:8000/rest", "exchange"=>{"name"=>"webhooks"}, "queue"=>{"name"=>"webhook1"}}]}

[
  {rabbit_webhooks, [
    {username, <<"guest">>},
    {virtual_host, <<"/">>},
    {webhooks, [
			
      {'webhook1', [
        {url, "http://localhost:8000/rest"},
        {method, post},
        {exchange, [
          {exchange, <<"webhooks">>},
          {type, <<"topic">>},
          {auto_delete, true},
          {durable, false}
        ]},
        {queue, [
          {queue, <<"webhook1">>},
          {auto_delete, true}
        ]},
        {routing_key, <<"#">>}
        
        
      ]}
			
    ]}
  ]}
].
